*{
    box-sizing:border-box;
  }
a.letra, a.letra:hover, a.letra:visited{
  color: white;
  text-decoration: none;
}
a.letra:hover{
  background-color: red;
}
#rosco{
  position: relative;
  width: 36em;
  height: 40em;
  padding: 2.8em;
  border-radius: 50%;
  margin: 5em auto 0;
}
a.letra{
  background-color: darkred;
  font-weight: bold;
  font-size: 2em;
  display: block;
  position: absolute;
  width: 42px;
  height: 42px;
  text-align: center;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  padding-top: 0.1em;
    margin-left: -1em;
}
#letra-01{ transform:rotate(-90deg) translate(9em) rotate(90deg)}
#letra-02{transform:rotate(-76deg) translate(9em) rotate(76deg);}
#letra-03{transform:rotate(-62deg) translate(9em) rotate(62deg);}
#letra-04{transform:rotate(-48deg) translate(9em) rotate(48deg);}
#letra-05{transform:rotate(-34deg) translate(9em) rotate(34deg);}
#letra-06{transform:rotate(-20deg) translate(9em) rotate(20deg);}
#letra-07{transform:rotate(-6deg) translate(9em) rotate(6deg);}
#letra-08{transform:rotate(8deg) translate(9em) rotate(-8deg);}
#letra-09{transform:rotate(22deg) translate(9em) rotate(-22deg);}
#letra-10{transform:rotate(36deg) translate(9em) rotate(-36deg);}
#letra-11{transform:rotate(50deg) translate(9em) rotate(-50deg);}
#letra-12{transform:rotate(64deg) translate(9em) rotate(-64deg);}
#letra-13{transform:rotate(78deg) translate(9em) rotate(-78deg);}
#letra-14{transform:rotate(90deg) translate(9em) rotate(-90deg);}
#letra-15{transform:rotate(104deg) translate(9em) rotate(-104deg);}
#letra-16{transform:rotate(118deg) translate(9em) rotate(-118deg);}
#letra-17{transform:rotate(132deg) translate(9em) rotate(-132deg);}
#letra-18{transform:rotate(146deg) translate(9em) rotate(-146deg);}
#letra-19{transform:rotate(160deg) translate(9em) rotate(-160deg);}
#letra-20{transform:rotate(174deg) translate(9em) rotate(-174deg);}
#letra-21{transform:rotate(188deg) translate(9em) rotate(-188deg);}
#letra-22{transform:rotate(202deg) translate(9em) rotate(-202deg);}
#letra-23{transform:rotate(216deg) translate(9em) rotate(-216deg);}
#letra-24{transform:rotate(230deg) translate(9em) rotate(-230deg);}
#letra-25{transform:rotate(244deg) translate(9em) rotate(-244deg);}
#letra-26{transform:rotate(257deg) translate(9em) rotate(-257deg);}

#preguntas{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width:15em;
  margin-top: 8em;
  width: 100%;
}
h2{
  font-size: 1em;
}
.pregunta{
  font-size: 2em;
}
.respuesta{
  font-size: 2.5em;
  font-weight: bold;
}
.pregunta-container{
  position: relative;
  top: 6em;
}
.mostrar-respuesta{
  position: absolute;
  top:10em;
  left:12em;
  display: none;
}
.respuesta{
  display: none;
}
footer span{
  clear: both;
  text-align: center;
}
footer ul{
  font-size: 1.5em;
  font-weight: bold;
}